.box_content {
  text-align: justify;
  max-width: 600px;
  width: 100%;
  margin: 20px auto;
  padding: 15px;
  background: #fff;
  color: #595959;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
ol {
  counter-reset: li;
  list-style: none;
  font: 15px "trebuchet MS", "lucida sans";
  padding: 0;
  margin-bottom: 4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  margin-left: -5px;
  margin-top: 0px;
  margin-bottom: 0px;
}
ol ol {
  margin: 0 0 0 2em;
}
.rounded-list p {
  position: relative;
  display: block;
  padding: 0.4em 0.4em 0.4em 2em;
  margin: 0.5em 0;
  background: #fff2b6;
  color: #444;
  text-decoration: none;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.rounded-list p:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #ffc923;
  height: 39px;
  width: 39px;
  line-height: 31px;
  border: 0.3em solid #fff;
  text-align: center;
  font-weight: bold;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  border-radius: 2em;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.rounded-list p:hover:before {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
.rounded-list p:hover:before {
  background: #1da7e7;
  color: #fff;
}
.clo-2 {
  background: #a5d5cd;
}
.clo-1 {
  background: #dcebf7;
}
.clo-3 {
  color: #ff655d;
}
ion-modal#example-modal3 {
  --height: 100%;
  --border-radius: 16px;
  margin-top: 0px;
}

ion-modal#example-modal3::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
  margin-top: 0px;
}

ion-modal#example-modal3 ion-toolbar {
  --background: rgb(141, 160, 235);
  --color: white;
}
.sizePH {
  font-size: 15px;
  font-weight: bold;
}

.bg-t {
  background-color: #8ebbdb;
}
.bg-b {
  background-color: #c3c9cd;
}
ion-modal#example-modal2 {
  --height: 74%;
  --border-radius: 16px;
}

ion-modal#example-modal2::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal#example-modal2 ion-toolbar {
  --background: rgb(14 116 144);
  --color: white;
}
.vertical-timeline-element-content {
  position: relative;
  margin-left: 90px;
  font-size: 0.8rem;
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
* {
  box-sizing: border-box;
}
body {
  background-color: navy;
}
.container {
  background-color: blanchedalmond;
  border-radius: 10px;
}
h2 {
  color: navy;
}
.text-muted {
  font-family: "Ubuntu", sans-serif;
}
.fa-map-marker,
.fa-phone,
.fa-envelope {
  font-size: 25px;
  font-weight: bold;
}
.icon {
  color: rgb(105, 27, 179);
}
.contact:hover {
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}
form .container {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
}
input,
textarea,
.form-control {
  outline: none;
  border: none;
}
.input-field {
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 5px;
}
.input-field:hover {
  border: 2px solid rgb(105, 27, 179);
  color: rgb(105, 27, 179);
  cursor: pointer;
}
label {
  font-weight: 500;
}
.fa-mobile {
  font-size: 20px;
}
#msg {
  height: 220px;
}
.btn {
  background-color: rgb(105, 27, 179);
  color: #fff;
  padding: 5px 10px;
  width: 200px;
  margin: 10px auto;
}
.mobile-info {
  display: none;
}
@media (min-width: 992px) and (max-width: 1199px) {
  form {
    width: 75%;
  }
  .container {
    margin-top: 50px;
  }
}
@media (max-width: 767px) {
  .mobile-info {
    display: inline;
  }
  .contact-info {
    display: none;
  }
  .contact {
    margin: 10px 0;
    border: 1px solid rgb(105, 27, 179);
    border-radius: 5px;
  }
}
