article {
    padding-bottom: 4rem;
  }
  .content {
    position: relative;
    border-radius: 0.5rem;
  }
  .before-bgdad-style::before {
    content: " ";
    position: absolute;
    margin-top: -62px;
    width: 100%;
    height: 11rem;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #FFC409;
    z-index: 0;
  }
  /*  */
  .profile {
    margin-top: 4rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    background: white;
    padding: 0.5rem;
  
    border-radius: 0.5rem;
    position: relative;
    border: 1px solid #e3e3e3
  }
  .avatar {
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -30%);
    width: 9rem;
    height: 9rem;
    z-index: 9;
  }
  .avatar-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  
  /*  */
  .profile-main {
    margin-top: 3rem;
    padding: 1rem;
    padding-top: 3.5rem;
    background-color: #ffffff;
    border: 2px solid rgba(228, 228, 228, 0.815);
    border-radius: 0.5rem;
    margin-bottom: 0px;
  }
  .profile-main li {
    padding-bottom: 1.5rem;
    list-style: none;
  }
  
  .education {
    margin: 1rem;
  
    padding: 0.5rem;
    padding-bottom: 1rem;
  
    border-radius: 0.5rem;
    position: relative;
    background-color: #ffffff;
    display: grid;
    gap: 1.5rem;
  }
  .education input {
    margin-top: 0.5rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 1rem;
  
    width: 100%;
  }
  .inner-scroll{
    background-color: red;
  }
  .fw-1{
    font-size: var(--f7-card-header-font-size);
  }
  .text-1{
    border-bottom: 0.5px solid #dbdbdb;
  }
  .text-2{
    color: #007AFF;
    font-weight: bold;
  }
  .bg-2{
    background-color: #F2F2FF;
  }
  .card-profile{
    position: relative;
    border-radius: 5px;
    font-size: var(--f7-card-font-size);
    margin-top: var(--f7-card-margin-vertical);
    margin-bottom: var(--f7-card-margin-vertical);
    margin-left: calc(var(--f7-card-margin-horizontal) + var(--f7-safe-area-left));
    margin-right: calc(var(--f7-card-margin-horizontal) + var(--f7-safe-area-right));
    margin:9px;
  }
  .bg-xl2{
    background-color: #2c125a;
  }
  .newss{
    display: grid; 
    grid-template-columns: 1fr 1fr
  }
  .pv2{
    font-size: 19px;
    padding-left: 0px;
  }
  .page-section {
    padding: 7.5rem 0;
}

/* khunng chính (ul)*/
.linetime {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.linetime:before {
    content: "";
    top: 0;
    left: 40px;
    height: 100%;
    width: 2px;
    background-color: black;
    border:2px solid #f1d243;
    position: absolute;
    margin-left: 1px;
}

/* khung nội dung (li)*/
.linetime li {
    position: relative;
    margin-bottom: 2rem;
    min-height: 80px;
}

.lineime li:before,
.linetime li:after {
    display: table;
    content: "";
}

.linetime li:after {
    clear: both;
}

.linetime-panel {
    position: relative;
    padding-left: 100px;
}

.linetime-img {
    position: absolute;
    width: 80px;
    height: 80px;
    border:6px solid #efd62f;
    overflow: hidden;
    background: #000;
    color: #fff;
}

.linetime-img h4 {
    font-size: .8rem;
    margin-top: 50%;
    transform: translateY(-50%);
}

@media (min-width: 768px) {

    /* khunng chính (ul)*/
    .linetime:before {
        left: 50%;
    }

    /* khung nội dung (li)*/
    .linetime li {
        position: relative;
        margin-bottom: 2rem;
        min-height: 50px;
    }

    .linetime-panel {
        width: 40%;
        padding: 0;
        float: left;
        text-align: right;
    }

    .linetime-img {
        left: 50%;
        transform: translateX(-48%);
        width: 120px;
        height: 120px;
    }

    .linetime-img h4 {
        font-size: 1rem;
    }

    .inverted {
        float: right;
        text-align: left;
    }
}
@media (min-width: 992px) {
    /* khung nội dung (li)*/
    .linetime li {
        position: relative;
        margin-bottom: 4rem;
        min-height: 50px;
    }
    .linetime-img {
        width: 170px;
        height: 170px;
    }
    .linetime-img h4 {
        font-size: calc(1.275rem + 0.3vw);
    }
    .linetime-panel {
        padding: 0 1.25rem;
    }
    .w-bt{
      width: 100px;
    }
    .bg-bt{
      background-color: #ffc04d;
    }
    .size-18{
      font-size: 18px;
      font-weight: bold;
      color: #2e0285;
    }
    .bd-text{
      font-size: 5px;
    }
    .bg-3{
      border: 1px solid #e3e3e3;
    }
}