
.hori-timeline .events {
    border-top: 3px solid #e9ecef;
}
.hori-timeline .events .event-list {
    display: block;
    position: relative;
    text-align: center;
    padding-top: 70px;
    margin-right: 0;
}
.hori-timeline .events .event-list:before {
    content: "";
    position: absolute;
    height: 36px;
    border-right: 2px dashed #dee2e6;
    top: 0;
}
.hori-timeline .events .event-list .event-date {
    position: absolute;
    top: 38px;
    left: 0;
    right: 0;
    width: 75px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 2px 4px;
}
@media (min-width: 1140px) {
    .hori-timeline .events .event-list {
        display: inline-block;
        width: 24%;
        padding-top: 45px;
    }
    .hori-timeline .events .event-list .event-date {
        top: -12px;
    }
}
.bg-soft-primary {
    background-color: rgba(64,144,203,.3)!important;
}
.bg-soft-success {
    background-color: rgba(71,189,154,.3)!important;
}
.bg-soft-danger {
    background-color: rgba(231,76,94,.3)!important;
}
.bg-soft-warning {
    background-color: rgba(249,213,112,.3)!important;
}
.card {
    border: none;
    margin-bottom: 24px;
    -webkit-box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
    box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
}
.titile{
    height: 65px;
    background: #9b8ff9;
    padding-top: 10px;
}
.title-h2{
    background: #0d0587;
    color: white;
    text-align: center;
    padding: 10px;
}
.box_content{text-align: justify;max-width: 600px;width: 100%;margin: 20px auto;padding: 15px;background: #fff;color: #595959;-webkit-border-bottom-right-radius: 4px;-webkit-border-bottom-left-radius: 4px;-moz-border-radius-bottomright: 4px;-moz-border-radius-bottomleft: 4px;border-bottom-right-radius: 4px;border-bottom-left-radius: 4px}
ol{counter-reset: li;list-style: none;font: 15px 'trebuchet MS', 'lucida sans';padding: 0;margin-bottom: 4em;text-shadow: 0 1px 0 rgba(255,255,255,.5);margin-left: -5px;margin-top: 0px;margin-bottom: 0px}
ol ol{margin: 0 0 0 2em}.rounded-list p{position: relative;display: block;padding: .4em .4em .4em 2em;margin: .5em 0;background: #fff2b6;color: #444;text-decoration: none;-moz-border-radius: .3em;-webkit-border-radius: .3em;border-radius: .3em;-webkit-transition: all .3s ease-out;-moz-transition: all .3s ease-out;-ms-transition: all .3s ease-out;-o-transition: all .3s ease-out;transition: all .3s ease-out}.rounded-list p:before{content: counter(li);counter-increment: li;position: absolute;left: -1.3em;top: 50%;margin-top: -1.3em;background: #ffc923;height: 39px;width: 39px;line-height: 31px;border: .3em solid #fff;text-align: center;font-weight: bold;-moz-border-radius: 2em;-webkit-border-radius: 2em;border-radius: 2em;-webkit-transition: all .3s ease-out;-moz-transition: all .3s ease-out;-ms-transition: all .3s ease-out;-o-transition: all .3s ease-out;transition: all .3s ease-out}.rounded-list p:hover:before{-moz-transform: rotate(360deg);-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);-ms-transform: rotate(360deg);-o-transform: rotate(360deg);transform: rotate(360deg)}.rounded-list p:hover:before{background: #1da7e7;color: #fff}
.clo-2{
    background: #a5d5cd;
}
.clo-1{
    background: #dcebf7;
}
.clo-3{
    color: #ff655d;
}
ion-modal#example-modal {
    --height: 100%;
    --border-radius: 16px;
    margin-top: 0px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    

  }
  
  ion-modal#example-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
    margin-top: 0px;
   }
  
  ion-modal#example-modal ion-toolbar {
    --background:rgb(141, 160, 235);
    --color: white;
  }
  .sizePH{
font-size: 15px;
font-weight: bold;
  }

  .bg-t{
    background-color: #8ebbdb;
  }
  .newlink{
    background: #ff6d35;
    color: white;
  }
  .font-class{
    background: #6f5dff;
    border-radius: 19px;
    margin-right: 97px;
    margin-left: 98px;
    height: 36px;
    margin-top: -3px;
    padding-top: 7px;
    color: #ffeb00;
  }
  .bg-w{
    background: #f7e27b;
    border-radius: 36px;
    margin: 10px;
  }
  .bg-n{
    background: #4ba5ff;border-radius: 36px;
    margin: 10px;
  }
  .bg-rc{
    background-color: #ef6444;
    border-radius: 36px;
    margin: 10px;
  }
  .height-name{
    height: 24px;
  }
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');*{box-sizing: border-box}body{background-color: navy}.container{background-color: blanchedalmond;border-radius: 10px}h2{color: navy}.text-muted{font-family: 'Ubuntu', sans-serif}.fa-map-marker,.fa-phone,.fa-envelope{font-size: 25px;font-weight: bold}.icon{color: rgb(105, 27, 179)}.contact:hover{background-color: #fff;border-radius: 5px;cursor: pointer;position: relative}form .container{background-color: #fff;border-radius: 10px;padding: 20px;margin: 20px auto}input,textarea,.form-control{outline: none;border: none}.input-field{border: 1px solid #ddd;padding: 5px;border-radius: 5px}.input-field:hover{border: 2px solid rgb(105, 27, 179);color: rgb(105, 27, 179);cursor: pointer}label{font-weight: 500}.fa-mobile{font-size: 20px}#msg{height: 220px}.btn{background-color: rgb(24 92 233);color: #fff;padding: 5px 10px;width: 200px;margin: 10px auto}.mobile-info{display: none}@media(min-width:992px) and (max-width:1199px){form{width: 75%}.container{margin-top: 50px}}@media(max-width:767px){.mobile-info{display: inline}.contact-info{display: none}.contact{margin: 10px 0;border: 1px solid rgb(105, 27, 179);border-radius: 5px}}